{% extends "AmburgerBundle:Base:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/amburger/css/visualization.css')}}" />
{% endblock %}

{% block fullbody %}
    <header>
            <div class="row" id="header">
                <div class="large-12 columns">
                    <div class="large-12 columns center">
                        {% block header %}
                            <h1>Die Erik-Amburger-Datenbank</h1>
                        {% endblock %}
                    </div>
                </div>
            </div>
                    
            {% block navigation %}
                
            {% endblock %}
        </header>
         
         <div id="body">
            {% block body %}
      
            {% endblock %}
        </div>

        
        <footer id="footer">
            
        </footer>
{% endblock %}
