{% extends "AmburgerBundle:Administration:base.html.twig" %}
{% block header %}
    <h1>Adminbereich der Erik-Amburger-Datenbank</h1>
{% endblock %}
{% block body %}
    <div class="row ">
            <div class="large-2 columns large-offset-2">
                 
            </div>
            <div class="large-6 columns">
                <h2>Nutzerprofil von {{ username }}</h2>
            </div>
            <div class="large-2 columns">

            </div>
    </div>
    <div class="row ">
            <div class="large-2 columns large-offset-2">
                 
            </div>
            <div class="large-6 columns">
                {% if passwords_empty %} <span class="error"> Das eingegebene Passwort darf nicht leer sein. </span> {% endif %}
                {% if passwords_do_not_match %} <span class="error"> Die eingebenen Passwörter sind unterschiedlich. </span> {% endif %}
            </div>
            <div class="large-2 columns">

            </div>
    </div>
    <div class="row">
        <form method="POST" class="form-signin">
              <input type="hidden" name="_target_path" value="user" />
              <h2 class="form-signin-heading">Passwort ändern</h2>
                <div class="row ">
                    <div class="large-2 columns large-offset-2">
                          <label for="inputPassword">Neues Passwort:</label>
                    </div>
                    <div class="large-6 columns">
                          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
                    </div>
                    <div class="large-2 columns">
                          
                    </div>
                </div>
                <div class="row ">
                    <div class="large-2 columns large-offset-2">
                        <label for="inputPasswordRepetition">Passwort wiederholen:</label>
                    </div>
                    <div class="large-6 columns">
                          <input name="password-repetition" type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
                    </div>
                    <div class="large-2 columns">
                          
                    </div>
                </div>
                <div class="row ">
                      <div class="large-6 columns large-centered">
                          <button id="login-button" class="round button" type="submit">Ändern</button>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}