{% extends "AmburgerBundle:Base:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/amburger/css/admin.css')}}" />
{% endblock %}

{% block fullbody %}
    <header>
        <div class="row" id="header">
            <div class="large-12 columns">
                <div class="large-2 columns center">

                </div>
                <div class="large-8 columns center">
                    {% block header %}
                        <h1>Korrekturoberfläche der Erik-Amburger-Datenbank</h1>
                    {% endblock %}
                </div>
                <div class="large-2 columns center">

                </div>

            </div>
        </div>
        {% if logged_in %}
            <div class="row" id="user-controls">
                 <div class="large-1 columns center">
                    <i id="back" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                </div>
                 <div class="large-10 columns center">

                </div>
                 <div class="large-1 columns center">
                    <i id="user-settings" class="fa fa-cog fa-2x" aria-hidden="true"></i> <i id="logout" class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        {% endif %}
        {% block navigation %}

        {% endblock %}
    </header>

    <div id="body">
        {% block body %}

        {% endblock %}
    </div>


    <footer id="footer">
        <div class="row">
            <div class="large-12 columns">
                {% block footer %}
                    <h1>&copy; 2016 IOS Regensburg</h1>
                {% endblock %}
            </div>
        </div>
    </footer>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/amburger/js/src/util/User.js')}}"></script>


    {# As last init the Start #}
    <script>
        User.init();
    </script>

{% endblock %}