.row {
    max-width: 90%
}

#header {
    background-color: #CCCCCC;
    margin-bottom: 30px;
}

#body {
    
}

#footer div.row {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #CCCCCC;
}

/* login */

.welcome-header{
    margin-bottom: 30px;
}

.welcome-text{
    margin-bottom: 30px;
}

.login-container{
    border: 2px solid;
}

.login-container .custom-error{
    font-size: 16px;
    /* css 3 */
    border-radius:5px;
    /* mozilla */
    -moz-border-radius:5px;
    /* webkit */
    -webkit-border-radius:5px;
    background: #d22c11;
}

.login-container div.row{
    margin-bottom: 20px;
}

.form-signin-heading {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.form-signin label {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#login-button {
    font-size: 20px;
    font-weight: bold;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #228B22;
}

input.form-control {
    font-size: 18px;
    /* css 3 */
    border-radius:5px;
    /* mozilla */
    -moz-border-radius:5px;
    /* webkit */
    -webkit-border-radius:5px;
}

/* box */

.box {
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.column, .columns{
  min-height: 1px;
}

.icon-red {
    color: red;
}

.icon-green {
    color: green;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


.relation-box > select {
    width: 90%;
    display: inline-block;
    margin-right: 5px;
}

.relation-disabled > .relation-controls {
    display: none;
}

.clickable {
    cursor: pointer;
}

/* navigation */

.navigation {
    margin-bottom: 20px;
}

.nav-item {
    width: 90%;
    height: 50px;
    background-color: #00BFFF;
    border: 1px solid #999;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.nav-item.active {
    background-color: #1E90FF;
}

.nav-item.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.nav-item.one-line span {
    margin-top: 5%;
    display: inline-block;
    vertical-align: middle;
}

/*
.nav-item.arrow:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0x;
  width: 0;
  height: 0;
  margin-right: -25%;
  border: 20px solid transparent;
  border-left: 12px solid #ccc;
}
*/

.nav-item.arrow:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0px;
  width: 0;
  height: 0;
  margin-right: -25%;
  border: 20px solid transparent;
  border-left: 12px solid #00BFFF;
}

.nav-item.arrow.disabled:before {
    border-left: 12px solid grey;
}

/* user-controls */
#user-controls i {
    cursor: pointer;
    margin-right: 10px;
}