/* Search */

.simple-search label,
.simple-search label input{
    display: inline-block;
}

select.single-date,
input.single-date{
    width: 30%;
    display: inline-block;
}

select.daterange,
input.daterange{
    width: 30%;
    display: inline-block;
}

.centered-input {
   
}

.search {
    
}

.extended-search {
    border: 1px solid black;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.column, .columns{
  min-height: 1px;
}

/* PersonList */

.fa-red {
    color: red;
}

.fa-green {
    color: green;
}

#map-display {
    height: 500px;
}

/* Family Tree */
#family-tree {
    width: 95%;
    min-height: 400px;
    border-style: dotted; 
    border-width: 1px;
}

.family-tree-item {
    font-size: 10px;
    text-align: center;
}