.center  {
    text-align: center;
}

/* Search */

.simple-search label,
.simple-search label input{
    display: inline-block;
}

/* PersonList */

.fa-red {
    color: red;
}

.fa-green {
    color: green;
}