{% extends "AmburgerBundle:Base:base.html.twig" %}
{% block navigation %}
     <div class="large-6 columns large-centered center navigation">
        Start --> Duplicate prüfen --> Person normalisieren --> Verwandte normalisieren-->Verwandschaftsbeziehungen herstellen
    </div>
{% endblock %}