{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="large-6 columns large-centered center">
            <a href="../person/"<button id="save-button" class="round button" type="submit">Speichern und weiter...</button></a>
        </div>
    </div>
{% endblock %}